__pycache__/
*.py[cod]
.DS_STORE
macroLogs.log
bin
include
lib
share
/src/node_modules
src/webapp/test.html
src/webhookScreenshot.png
src/modules/submacros/hourlyReport.py
src/page1.png
src/page2.png
